.homePod {
  width: 100%;
  height: 30em;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin-top: 0.8em;
}

.unit-background-homePod {
  background: url(homePod.jpg) no-repeat center center;
  background-size: cover;
}

.unit-wrapper {
  display: flex;
  flex-direction: column;
}
.unit-link {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.unit-text-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
}

.homePod-headline {
  margin-top: 1em;
  line-height: 1.07143;
  font-weight: 500;
  font-size: 2.5em;
  letter-spacing: -0.008em;
  color: white;
}

.homePod-subhead {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.07143;
  letter-spacing: -0.005em;
  margin-top: 0.3em;
  color: white;
}

@media only screen and (max-width: 768px) {
  .homePod {
    height: 28em;
  }

  .homePod-headline {
    font-size: 2.5em;
  }

  .homePod-subhead {
    font-size: 1.5em;
  }

  .cta-links {
    font-size: 1em;
  }
}
