div {
  display: block;
}

.iphone14 {
  border: 2px solid slateblue;
  width: 100%;
  height: 36em;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.unit-wrapper {
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
}
.unit-link {
  position: absolute;
  display: flex;
  height: 100%;
  /* border: 2px solid pink; */
}

.unit-text-wrapper {
  position: relative;
  text-align: center;
  /* background-color: #fcfad4; */
  z-index: 4;
  height: 100%;
  /* border: 3px solid purple; */
}

.iphone14-headline {
  margin-top: 1em;
  line-height: 1.07143;
  font-weight: 500;
  font-size: var(--headline-size);
  letter-spacing: -0.005em;
}

.iphone14-subhead {
  font-size: var(--subHeadline-size);
  font-weight: 300;
  line-height: 1.07143;
  letter-spacing: -0.005em;
  margin-top: 0.3em;
}

.callout {
  font-weight: 300;
  margin-top: 1em;
  color: #6e6e73;
  letter-spacing: 0.011em;
  line-height: 1.19048;
}

.cta-links {
  margin-top: 1em;
  position: relative;
  font-size: var(--cta-size);
  font-weight: 400;
}

.icon {
  color: #06c;
}

.learn-more {
  margin-left: -0.4em;
  /* border: 2px solid hotpink; */
}

.shop {
  margin-left: 2em;
}

.chevron-right {
  display: inline-block;
  padding-left: 0.3em;
  /* border: 2px solid red; */
  height: auto;
}

@media only screen and (max-width: 768px) {
  .iphone14 {
    height: 28em;
  }

  .iphone14-headline {
    font-size: 2.5em;
  }

  .iphone14-subhead {
    font-size: 1.5em;
  }

  .cta-links {
    font-size: 1em;
  }
}
