nav {
  height: 2.5em;
  display: flex;
  padding: 0.5em;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #313a45;
  z-index: 4;
  opacity: 0.9;
  width: 100%;
  /* overflow-y: hidden; */
}

.pages {
  display: flex;
  font-size: 0.8em;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  border: 2px solid hotpink;
}

.page {
  margin: 1em;
  border: 2px solid red;
}

.page__link {
  text-decoration: none;
  color: white;
}

.logo,
.search,
.bag,
.menu {
  font-size: 1em;
  margin: 0.5em;
}

.search,
.bag {
  margin: 1em;
}

.menu {
  display: none;
}

.logo {
  font-size: 1.3em;
}

.logo__link,
.search__link,
.bag__link,
.menu__link {
  color: white;
}

.icons {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-flyout-scrool-container {
  position: absolute;
  z-index: 5;
  text-align: left;
  background-color: black;
  width: 100%;
  height: 22em;
  animation-name: slidedown;
  animation-duration: 0.5s;
  border: 2px solid violet;
}

@keyframes slidedown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 22em;
    opacity: 1;
  }
}

.nav-flyout-content {
  color: antiquewhite;
}

@media only screen and (max-width: 768px) {
  .page {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
  }
}
