.footer {
  background-color: #f5f5f7;
  color: #6f6f74;
  font-weight: 400;
  width: 100%;
  height: 40em;
  margin-top: 2em;
  /* border: 2px solid red; */
}
.disclaimer {
  font-size: 0.7em;
  margin: 8em 8em 0.5em 8em;
  /* padding: 2em 5em 1em 5em; */
  text-align: start;
}

.footer-bar {
  height: 35em;
  font-size: 0.7em;
  margin: 1em 8em 0.5em 8em;
  /* padding: 1em 5em 1em 5em; */
  box-sizing: content-box;
  text-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 2px solid hotpink; */
}

.section {
  margin: 1em 1em 0.5em 0;
  /* border: 2px solid blue; */
}
.section-heading {
  margin-top: 0.5em;
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.li-item {
  margin-top: 0.5em;
}

h5 {
  color: #454547;
  font-size: 1em;
}

a.link:visited {
  color: #6f6f74;
}
