.app {
  /* margin: 0;
  padding: 0; */
  /* width: 100%;
  height: 100%; */
  /* border: 6px solid orangered; */
  /* width: 100%; */
  /* text-align: center; */

  width: 100vw;
  height: 100vh;
}

.dual-section {
  display: flex;
  margin: 0 0.7em 0 0.7em;
}

@media only screen and (max-width: 768px) {
  .dual-section {
    flex-direction: column;
  }
}
