.slideshowContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow {
  width: 60%;
  height: 90%;
  margin: 1em auto;
}

.slideshowSlider {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  padding-left: 1em;
  opacity: 0.33;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 1em;
}
/* Buttons */
.slideshowDots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshowDot {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  margin: 1em 0.7em 0;
  background-color: #e0d9d9;
}

.slideshowDot.active {
  background-color: darkgray;
}

.playbutton-container {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.play-button {
  cursor: pointer;
  font-size: 1.8em;
}
