.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  width: 50em;
  height: 30em;
  margin: 1em auto;
  border: 6px solid purple;
}

.slideshowSlider {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  /* border: 6px solid red; */
}

.slide {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  opacity: 0.33;
  margin-left: 0.2em;
  /* border: 2px solid orange; */
}
.slide-img {
  width: 100%;
  height: 100%;
}
.navigation {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 140%; */
  /* height: 100%; */
  margin-top: 1em;
  border: 2px solid red;
}
/* Buttons */
.slideshowDots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid green;
}
.slideshowDot {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  margin: 1em 0.7em 0;
  background-color: #e0d9d9;
}

.slideshowDot.active {
  background-color: darkgray;
}

.playbutton-container {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
  border: 2px solid hotpink;
  position: relative;
}
.play-button {
  cursor: pointer;
  font-size: 1.8em;
}
