.watch {
  width: 100%;
  height: 34em;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin-top: 0.8em;
}

.unit-background-watch {
  background: url(watch.jpg) no-repeat center center;
  background-size: cover;
}

.unit-wrapper {
  display: flex;
  flex-direction: column;
}
.unit-link {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.unit-text-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
}

.watch-headline {
  margin-top: 1em;
  line-height: 1.07143;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: -0.008em;
  color: white;
}

.watch-series {
  color: #cb2027;
  letter-spacing: 0.05em;
  size: 1.5em;
}
.watch-subhead {
  font-size: var(--subHeadline-size);
  font-weight: 300;
  line-height: 1.07143;
  letter-spacing: -0.005em;
  margin-top: 0.3em;
  color: white;
}

@media only screen and (max-width: 768px) {
  .watch {
    height: 28em;
  }

  .watch-headline {
    font-size: 2.5em;
  }

  .watch-subhead {
    font-size: 1.5em;
  }

  .cta-links {
    font-size: 1em;
  }
}
